
<h3>Available Parking Zones</h3>

<kendo-grid [data]="parkingZones" [height]="400" [sortable]="true" [sort]="sort" (sortChange)="sortChange2($event)">
    <kendo-grid-column field="name" title="Name" [sortable]="true"></kendo-grid-column>
    <kendo-grid-column field="totalFloors" title="Total Floors" [sortable]="true"></kendo-grid-column>
    <kendo-grid-column field="spotsPerFloor" title="Spots per Floor" [sortable]="true"></kendo-grid-column>
    <kendo-grid-column field="hourlyRate" title="Hourly Rate" [sortable]="true"></kendo-grid-column>
    <kendo-grid-column field="isFull" title="Is Full" [sortable]="true">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span>{{ dataItem.isFull ? 'Yes' : 'No' }}</span>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<div *ngIf="selectedZoneId" class="zone-details">
    <h3>Zone Status</h3>
    <div *ngIf="zoneStatus" class="status-info">
        <p>Total Spots: {{ zoneStatus.totalSpots }}</p>
        <p>Occupied Spots: {{ zoneStatus.totalSpots - zoneStatus.availableSpots }}</p>
        <p>Available Spots: {{ zoneStatus.availableSpots }}</p>
    </div>

    <h3>Available Parking Spots</h3>
    <div class="spots-grid">
        <kendo-grid [data]="availableSpots" [height]="300" [sortable]="true"
        [sort]="sort"
        (sortChange)="sortChange($event)">
            <kendo-grid-column field="spotNumber" title="Spot Number" [sortable]="true"></kendo-grid-column>
            <kendo-grid-column field="floor" title="Floor" [sortable]="true"></kendo-grid-column>
                <kendo-grid-column field="status" title="Status" [sortable]="true">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.status === 0 ? 'Available' : 
                       dataItem.status === 1 ? 'Occupied' : 
                       dataItem.status === 2 ? 'Maintenance' : 
                       dataItem.status === 3 ? 'Out of Service' : 'Unknown' }}
                </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="type" title="Type" [sortable]="true">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.type === 0 ? 'Regular' : 
                       dataItem.type === 1 ? 'Handicapped' : 
                       dataItem.type === 2 ? 'VIP':
                       dataItem.type === 3 ? 'Electric' : 'Unknown' }}
                </ng-template>
                </kendo-grid-column>
        </kendo-grid>
    </div>
</div>
<h3>Select Parking Zone Name to Show Spots Status</h3>
<button kendoButton (click)="selectZone(parkingZone.id)" *ngFor="let parkingZone of parkingZones">
    Select {{ parkingZone.name }}
</button>

<div class="create-zone-form">
    <h3>Create New Parking Zone</h3>
    <form (ngSubmit)="createZone(newZoneForm.value)" #newZoneForm="ngForm">
        <div>
            <label for="zoneName">Zone Name:</label>
            <input type="text" id="zoneName" name="name" ngModel required>
        </div>
        <div>
            <label for="totalFloors">Total Floors:</label>
            <input type="number" id="totalFloors" name="totalFloors" ngModel required>
        </div>
        <div>
            <label for="spotsPerFloor">Spots per Floor:</label>
            <input type="number" id="spotsPerFloor" name="spotsPerFloor" ngModel required>
        </div>
        <div>
            <label for="hourlyRate">Hourly Rate:</label>
            <input type="number" id="hourlyRate" name="hourlyRate" ngModel required>
        </div>
        <button type="submit" kendoButton>Create Zone</button>
    </form>
</div>
